<%= turbo_frame_tag dom_id(comment) do %>
  <div id="<%= dom_id(comment) %>" class="flex flex-col sm:flex-row sm:justify-between sm:items-center p-4 bg-white rounded-lg shadow-sm space-y-3 sm:space-y-0">
    <!-- 左側：ユーザー情報とコメント内容 -->
    <div class="flex items-start space-x-3">
      <%# Turboがフレーム内に読み込もうとして失敗するため、ページ全体をリロードして遷移させるようにする %>
      <%= link_to (comment.user == current_user ? profile_path : user_path(comment.user)),
                  data: { turbo: false } do %>
        <%= image_tag comment.user.profile_image.url, alt: comment.user.username, class: "w-10 h-10 rounded-full mt-1" %>
      <% end %>
      <div class="flex flex-col">
        <div class="flex items-center mb-1 flex-wrap">
          <span class="text-xs font-semibold text-gray-800"><%= comment.user.username %></span>
          <span class="text-gray-500 text-xs ml-2"><%= time_ago_in_words(comment.created_at) %>前</span>
        </div>
        <p class="text-sm text-gray-700 break-words"><%= comment.content %></p>
      </div>
    </div>

    <!-- 右側：編集・削除ボタン -->
    <% if comment.user == current_user %>
      <div class="text-right sm:text-center space-x-2">
        <%= link_to edit_seichi_memo_comment_path(comment.seichi_memo, comment),
                    data: { turbo_frame: dom_id(comment) },
                    class: "text-gray-500 hover:text-blue-500 inline-flex items-center space-x-1" do %>
          <i class="fas fa-edit"></i>
          <span>編集</span>
        <% end %>

        <%= link_to seichi_memo_comment_path(comment.seichi_memo, comment),
                    method: :delete,
                    data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                    class: "text-gray-500 hover:text-red-500 inline-flex items-center space-x-1" do %>
          <i class="fas fa-trash-alt"></i>
          <span>削除</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>