<div class="bg-white p-4 rounded-lg shadow-md flex flex-col">
  <!-- 画像（クリックで詳細画面へ遷移） -->
  <div class="h-60 flex items-center justify-center rounded-md overflow-hidden">
    <%= link_to seichi_memo_path(seichi_memo) do %>
      <%= image_tag (seichi_memo.seichi_photo.present? ? seichi_memo.seichi_photo.url : SeichiPhotoUploader.new.default_url),
          alt: "聖地画像",
          class: "object-cover w-full h-full cursor-pointer transition hover:opacity-80" %>
    <% end %>
  </div>

  <!-- コンテンツ -->
  <div class="flex flex-grow flex-col">
    <div class="flex items-start mt-3 space-x-2 justify-start">
      <h2 class="text-lg font-bold flex-grow"><%= seichi_memo.title.truncate(25) %></h2>
      <!-- ブックマークボタン -->
      <%= render 'bookmarks/bookmark_buttons', seichi_memo: seichi_memo %>
    </div>
    <h3 class="font-bold"><%= seichi_memo.anime.title %></h3>

    <!-- 作品ジャンル -->
    <% if seichi_memo.genre_tags.present? %>
      <div class="flex flex-wrap gap-2 mt-2">
        <% seichi_memo.genre_tags.each do |genre_tag| %>
          <% if current_user && current_user.bookmark?(seichi_memo) %>
            <%= link_to bookmarks_seichi_memos_path(current_user, q: { genre_tags_name_eq: genre_tag.name }), 
                        class: "bg-primary text-gray-700 text-xs font-medium px-2 py-0.5 rounded-full hover:bg-secondary" do %>
              <%= genre_tag.name %>
            <% end %>
          <% else %>
            <%= link_to seichi_memos_path(q: { genre_tags_name_eq: genre_tag.name }), 
                        class: "bg-primary text-gray-700 text-xs font-medium px-2 py-0.5 rounded-full hover:bg-secondary" do %>
              <%= genre_tag.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <p class="text-gray-600 line-clamp-3 mt-2"><%= seichi_memo.body.truncate(100) %></p>
  </div>

  <!-- ユーザー情報 -->
  <div class="flex items-center justify-between mt-4 px-2">
    <div class="flex items-center space-x-2">
      <%= link_to (seichi_memo.user == current_user ? profile_path : user_path(seichi_memo.user)) do %>
        <%= image_tag seichi_memo.user.profile_image.url, alt: seichi_memo.user.username, class: "w-8 h-8 rounded-full" %>
      <% end %>
      <div class="flex flex-col">
        <span class="text-gray-700 text-sm font-medium"><%= seichi_memo.user.username %></span>
        <span class="text-xs text-gray-500"><%= seichi_memo.created_at.strftime("%Y年%m月%d日") %></span>
      </div>
    </div>

    <!-- いいねボタン -->
    <%= render 'likes/like_buttons', seichi_memo: seichi_memo %>
  </div>
</div>
