<header class="header flex justify-between items-center p-6 bg-primary text-white rounded-lg shadow-md">
  <div>
    <%= link_to "アニめぐる", root_path, class: "text-xl font-bold hover:text-base-200 transition duration-300" %>
  </div>
  
  <nav class="flex gap-6">
    <% if user_signed_in? %>
      <!-- ログイン後のナビゲーション -->
      <%= link_to "みんなの投稿", posts_path, class: "link link-hover text-lg font-medium transition duration-300 hover:text-base-200" %>
      <%= link_to "新規投稿", new_post_path, class: "link link-hover text-lg font-medium transition duration-300 hover:text-base-200" %>
      <%= link_to "マイページ", user_path(current_user), class: "link link-hover text-lg font-medium transition duration-300 hover:text-base-200" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link link-hover text-lg font-medium transition duration-300 hover:text-base-200" %>
    <% else %>
      <!-- ログイン前のナビゲーション -->
      <%= link_to "ユーザー登録", new_user_registration_path, class: "link link-hover text-lg font-medium transition duration-300 hover:text-base-200" %>
      <%= link_to "ログイン", new_user_session_path, class: "link link-hover text-lg font-medium transition duration-300 hover:text-base-200" %>
    <% end %>
  </nav>
</header>
