<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/eb37be60a7.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <!-- meta_tag -->
    <%= display_meta_tags(default_meta_tags) %>
    </head>

  <body class="bg-gray-100 min-h-screen flex flex-col">
    <%= render 'shared/header' %>
    <%= render 'layouts/flash_messages' %>
    <main class="flex-grow container mx-auto px-4 py-8 pb-24">
      <%= yield %>
    </main>
    <% if user_signed_in? %>
      <%= render 'shared/bottom_navigation' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
